/* h = 100vh
w = 50%
vai di flex */

/* COMMON RULES & UTILITY CLASS */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #FFF5E2;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

/* ?ho preferito così perché non mi sembrava necessario aggiungere un container all'html (nn ci sono colori diversi o altro)? */
header, main, footer { 
    padding: 0 40px;
}

input[type="text"]:focus, input[type="text"]:active {
    outline: none;
    background-color: lightblue !important;
}

.float-left { 
    float: left; 
}

.float-right { 
    float: right; 
}

.clearfix::after {
    content: ""; 
    display: table;
    clear: both; 
}


/* STYLE */
/* wrapper */
.wrapper {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}

/* header */
header {
    background-color: #FBBB51;
    height: 120px;
    position: relative;
    /* text-align: right; */
}

header h1 {
    display: inline-block;
    width: calc(100% - 190px - 10px);
    vertical-align: super;
    text-align: left;
    font-weight: 600;
}

header img {
    vertical-align: middle;
    transform: translate(90px, -20px);
    width: 190px;
}

/* main */
main {
    background-color: white;
    height: calc(100vh - 120px - 100px);
    min-height: 450px;
}

main input#hamburgerName {
    font-size: 1.3rem;
    margin-top: 30px;
    width: 350px;
    border: none;
    border-radius: 4px; /* solo quando active o focus */
    /* ?modo per far adattare input.width al contenuto? */
}

main h2 {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(109, 108, 108);
    margin-top: 20px;
}

main form .ingredients {
    padding: 20px 0;
    /* background-color: blue; */
}

main form .ingredients-left, main form .ingredients-right {
    width: 50%;
}

/* era meglio inscatolarle in un contenitore html piuttosto che passarle da inline a block? */
main form label {
    display: block;
}

main form label > * {
    vertical-align: middle;
    margin-right: 5px;
    padding: 5px 0;
}

main form img {
    width: 50px;
}

main form .ingredient-name {
    font-size: 14px;
}

/* _checkbox */
[type="checkbox"] {
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
}

.custom-checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    background-color:#D13651;
    vertical-align: middle;
}

.custom-checkbox i {
    display: none;
    font-weight: normal;
    transform: scale(1.4) translateY(-1px);
    /* ?nn riesco a modificare font-weight? */
}

/* ?usando l'attr come selettore nn funzionava? */
/* !funziona con elemento adiacente */
.ingredient-input:checked + .custom-checkbox>i {
    display: inline-block;
}
/* /_checkbox */

main form .ingredient-add {
    font-size: 14px;
    color: #F97D8D;
}

main form #coupon {
    margin-top: 10px;
}

main form label[for="coupon"] {
    color: grey;
    font-size: 14px;
    display: inline-block;
    width: 120px;
}

main form input#coupon {
    /* display: inline-block; */
    width: calc(100% - 120px - 5px);
    background-color: #FFF5E3;
    border: none;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}

main .button-container {
    margin-top: 25px;
    text-align: center;
}

main .button-container #calculate {
    height: 32px;
    line-height: 32px;
    padding: 0 19px;
    border-radius: 4px;
    border: none;
    background-color: #FBBB51;
    font-weight: 600;
    font-size: 15px;
}

/* footer */
footer {
    height: 100px;
    line-height: 100px;
    background-color: #D13659;
    color: white;
    font-size: 14px;
}

footer .price-container {
    font-size: 28px;
}



